/* MEDIA QUERIES */
@media print {
	.no-print {
		display: none;
	}
}

@media screen and (max-width: 650px) {
	#client-project-input {
		width: 500px;
	}
}

@media screen and (max-width: 600px) {
	#client-project-input {
		width: 450px;
	}
}

@media screen and (max-width: 550px) {
	#client-project-input {
		width: 400px;
	}
}

@media screen and (max-width: 500px) {
	#client-project-input {
		width: 350px;
	}
}

@media screen and (max-width: 470px) {

	#primary-inputs-container input,
	#client-estimate-input {
		width: 90%;
	}

	#client-project-input {
		width: auto;
	}
}