/* MEDIA QUERIES */
@media print {
	.no-print {
		display: none;
	}
}

@media screen and (max-width: 650px) {
	#client-project-input {
		width: 70vw;
	}
}

@media screen and (max-width: 600px) {
	.minus-button {
		transform: translateX(30vw) translateY(-25px);
	}
}

@media screen and (max-width: 470px) {
	#primary-inputs-container input,
	#client-estimate-input {
		width: 90%;
	}
}