/* MEDIA QUERIES */
@media print {
	.no-print {
		display: none;
	}
}

@media screen and (max-width: 650px) {
	#client-project-input {
		width: 70vw;
	}
}

@media screen and (max-width: 600px) {
	.minus-button {
		transform: translateX(30vw) translateY(-25px);
	}
}

@media screen and (max-width: 450px) and (max-height: 900px), (max-height: 450px) and (max-width: 900px) {
	#add-email-button, .minus-button {
		width: 2rem;
		height: 2rem;
		font-size: 1.5rem;
		border-radius: 50%;
	}
	#client-project-input {
		width: 230px;
	}
}

@media screen and (max-width: 470px) {
	#primary-inputs-container input,
	#client-estimate-input {
		width: 90%;
	}
}