/* CSS VARIABLES */
:root {
	/* colors */
	--brown: #634811;
	--creme: #FCEAC5;
	--creme-light: #fdf3de;
	--creme-light-transparent: #fceac590;
	--yellow: #E3A427;
	--yellow-light: #f4b330;
	--grey: #66625A;
	--orange: #B3811E;
}

/* GENERAL RULES */
* {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(rgba(99, 72, 17, 0.65), rgba(0, 0, 0, 0.65)), url("./resources/hero.jpg") center/cover no-repeat;
	min-height: 100vh;
}

#hide-tooltip-button {
	position: sticky;
	top: 0;
	padding: 0.25rem;
	background: var(--creme);
	color: var(--grey);
	border: none;
	box-shadow: 0.125rem 0.125rem 0.125rem #000000;
}

.side-header {
	max-width: 600px;
	margin: 1rem auto;
	text-align: left;
	color: var(--creme);
	text-shadow: 0.0625rem 0.0625rem 0.125rem #000000;
}

.required,
#estimate-required-field,
#project-required-field {
	color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* EMAIL BODY */
/* (for a browser view only, not for email clients) */
#header {
	line-height: 1rem;
	margin-bottom: 1rem;
}

.client-form {
	margin: 0.3125rem 0;
}

/*inputs*/
#client-project-input {
	resize: none;
	width: 95%;
	height: 7rem;
	padding: 0.2rem 0.5rem;
	margin-top: 0.3rem;
	border: 1px solid #66625a3e;
}

#client-name-input,
#company-name-input,
#client-address-input,
#client-email-input,
#client-estimate-input {
	width: 40%;
	padding: 0.2rem;
	margin: 0.2rem;
	border: 1px solid #66625a3e;
}

/* (not in the email body) */
/*send button*/
#send-button {
	display: block;
	margin: 0 auto;
	font-weight: bold;
	padding: 1rem;
	background: var(--orange);
	color: #000000;
	box-shadow: 0.125rem 0.125rem 0.125rem #000000;
	transition: all 0.4s ease-in;
}

#send-button:hover {
	background: var(--yellow);
	color: var(--brown);
	box-shadow: none;
	transform: scale(1.02);
	transition: all 0.3s ease-in;
	cursor: pointer;
}

/*media queries*/
@media print {
	.no-print {
		display: none;
	}
}