body {
    margin: 0;
    padding: 0;
    background: url('./resources/background.jpg');
    background-position: center;
}

.side-header {
    max-width: 600px;
    margin: 1rem auto;
    text-align: left;
    color: #252525;
    text-shadow: 0.08rem 0.08rem 0.18rem #6a6a6a;
}

#office-form {
    width: 600px;
    margin: 0 auto;
    color: white;
    background: #000000bd;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.4rem 0.5rem 0.2rem #444444dd;
    padding: 1rem;
}

.table-label {
    width: 30%;
}

#office-form textarea {
    width: 95%;
}

#office-form label {
    display: flex;
    justify-content: right;
}

#office-form input {
    display: flex;
    justify-content: left;
    width: 95%;
}

#send-button-div {
    text-align: center;
    margin: 3rem auto;
}

#send-button-div button {
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    background: #dbf7b7a8;
    box-shadow: 0.2rem 0.3rem 0.5rem 0.2rem #444444;
    transition: all 0.4s ease-in;
}

#send-button-div button:hover {
    background: #cfff90;
    transform: scale(1.02);
    transition: all 0.3s ease-in;
}

@media print {    
    .no-print, .no-print * {
        display: none !important;
    }
}